.titulo {
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
  font-weight: bold;
  position: relative;
}

h1::before {
  transform: scaleX(1);
  transform-origin: bottom right;
}

h1:hover::before {
  transform: scaleX(0);
  transform-origin: bottom left;
}

h1::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: #7c55f0;
  z-index: -1;
  transition: transform 0.3s ease;
}

mat-card {
  flex: 0 0 15%;
  margin-bottom: 20px;
}

mat-card-title {
  text-align: center;
  font-weight: bolder;
  align-items: center;
  align-content: center;
  
}

mat-card-header{
  background-color: #a3abbc;
}

mat-card-content {
  align-items: center;
  align-content: center;
  margin-top: 10%; 
}

/*Primera prueba------------------------------------------------------------*/

.img-container {
  justify-content: center;
  align-items: center;
}

.pruebas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.pokemon {
  max-width: 150px;
  height: 150px;
}

.pokemon {
  animation: wiggle 2s linear infinite;
  transform-origin: 50% bottom;
}

@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
/*Segunda prueba--------------------------------------------------------------*/
.loader {
  background-color: #ffffff;
  overflow: hidden;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 100000;
}

.loader__element {
  border-radius: 100%;
  border: 5px solid #555;
  margin: 10px;
}

.loader__element:nth-child(1) {
  animation: preloader 0.6s ease-in-out alternate infinite;
}
.loader__element:nth-child(2) {
  animation: preloader 0.6s ease-in-out alternate 0.2s infinite;
}

.loader__element:nth-child(3) {
  animation: preloader 0.6s ease-in-out alternate 0.4s infinite;
}

@keyframes preloader {
  100% {
    transform: scale(2);
  }
}

/*Tercera prueba--------------------------------------------------------------*/
.swatch {
  display: block;
  text-align: center;
  position: relative;
  margin-left: -25%;
}

.swatch div {
  width: 50px;
  height: 150px;
  position: absolute;
  top: 0px;
  border-radius: 5px;
  border-top: solid 2px rgba(0, 0, 0, 0.2);
  border-left: solid 3px rgba(255, 255, 255, 0.2);
  border-bottom: solid 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  box-sizing: border-box;
  transform-origin: center 90%;
  display: inline-block;
  backface-visibility: hidden;
  transform: rotate(0deg);
}

.swatch div:before {
  width: 16px;
  height: 16px;
  content: "";
  background-color: #ffffff; /* white */
  display: inline-block;
  border-radius: 8px;
  bottom: 10px;
  position: absolute;
  margin-left: -8px;
}

.swatch div:nth-child(1) {
  background-color: #815a8f; /* purple */
  animation: swatch-purple-motion 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.swatch div:nth-child(2) {
  background-color: #6730ec; /* blue */
  animation: swatch-blue-motion 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.swatch div:nth-child(3) {
  background-color: #9ed763; /* green */
  animation: swatch-green-motion 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.swatch div:nth-child(4) {
  background-color: #fbd400; /* yellow */
  animation: swatch-yellow-motion 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.swatch div:nth-child(5) {
  background-color: #ff9000; /* orange */
  animation: swatch-orange-motion 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.swatch div:nth-child(6) {
  background-color: #f73f52; /* red */
  animation: swatch-red-motion 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

/* Animaciones para cada color */
@keyframes swatch-purple-motion {
  0% {
    transform: rotate(0deg);
  }
  30%,
  70% {
    transform: rotate(-65deg);
  }
  90%,
  10% {
    transform: rotate(0deg);
  }
}

@keyframes swatch-blue-motion {
  0% {
    transform: rotate(0deg);
  }
  30%,
  70% {
    transform: rotate(-40deg);
  }
  90%,
  10% {
    transform: rotate(0deg);
  }
}

@keyframes swatch-green-motion {
  0% {
    transform: rotate(0deg);
  }
  30%,
  70% {
    transform: rotate(-15deg);
  }
  90%,
  10% {
    transform: rotate(0deg);
  }
}

@keyframes swatch-yellow-motion {
  0% {
    transform: rotate(0deg);
  }
  30%,
  70% {
    transform: rotate(15deg);
  }
  90%,
  10% {
    transform: rotate(0deg);
  }
}

@keyframes swatch-orange-motion {
  0% {
    transform: rotate(0deg);
  }
  30%,
  70% {
    transform: rotate(40deg);
  }
  90%,
  10% {
    transform: rotate(0deg);
  }
}

@keyframes swatch-red-motion {
  0% {
    transform: rotate(0deg);
  }
  30%,
  70% {
    transform: rotate(65deg);
  }
  90%,
  10% {
    transform: rotate(0deg);
  }
}

/*Cuarta prueba--------------------------------------------------------------*/

input {
  font: 80px/1.5 sans-serif;
}
input[type="checkbox"]:before {
  background-repeat: repeat;
  background-size: 0.75em 0.375em;
}
input[type="checkbox"] {
  --off: #c7cad1;
  --mid: #829ad6;
  --on: #255ff4;
  --transDur: 0.5s;
  --timing: cubic-bezier(0.6, 0, 0.4, 1);
  animation: bgOff var(--transDur) var(--timing);
  background-color: var(--off);
  border-radius: 0.67em / 0.5em;
  box-shadow: 0 0.05em 0.1em #00000007 inset, 0 -0.25em 0.25em #0001 inset,
    0 -0.5em 0 #0001 inset, 0 0.1em 0.1em #0001;
  cursor: pointer;
  position: relative;
  width: 2.25em;
  height: 1.5em;
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}
input[type="checkbox"]:before {
  animation: handleOff var(--transDur) var(--timing);
  background-attachment: fixed;
  background-position: 50% calc(50% - 0.1875em);
  border-radius: 0.5em / 0.375em;
  box-shadow: 0 0.175em 0.175em 0 #0001 inset, 0 0.375em 0 #0002 inset,
    0 0.375em 0 var(--off) inset, 0 0.475em 0.1em #0001 inset;
  content: "";
  display: block;
  position: absolute;
  top: 0.125em;
  left: 0.125em;
  width: 1em;
  height: 0.75em;
}
input[type="checkbox"]:checked {
  animation: bgOn var(--transDur) var(--timing) forwards;
}
input[type="checkbox"]:checked:before {
  animation: handleOn var(--transDur) var(--timing) forwards;
}
input[type="checkbox"]:focus {
  outline: none;
}
input[type="checkbox"].pristine,
input[type="checkbox"].pristine:before {
  animation: none;
}
/* Dark mode */
@media (prefers-color-scheme: dark) {
  body,
  input[type="checkbox"]:before {
    background-image: linear-gradient(90deg, #3a3d46 2px, #3a3d4600 2px),
      linear-gradient(#3a3d46 2px, #2e3138 2px);
  }
  input[type="checkbox"] {
    --off: #5c6270;
    --mid: #3d5fb6;
  }
}
/* Animations */
@keyframes bgOff {
  from {
    background-color: var(--on);
  }
  50% {
    background-color: var(--mid);
  }
  to {
    background-color: var(--off);
  }
}
@keyframes bgOn {
  from {
    background-color: var(--off);
  }
  50% {
    background-color: var(--mid);
  }
  to {
    background-color: var(--on);
  }
}
@keyframes handleOff {
  from {
    box-shadow: 0 0.175em 0.175em 0 #0001 inset, 0 0.375em 0 #0002 inset,
      0 0.375em 0 var(--on) inset, 0 0.475em 0.1em #0001 inset;
    left: 1.125em;
    width: 1em;
  }
  50% {
    box-shadow: 0 0.175em 0.175em 0 #0001 inset, 0 0.375em 0 #0002 inset,
      0 0.375em 0 var(--mid) inset, 0 0.475em 0.1em #0001 inset;
    left: 0.125em;
    width: 2em;
  }
  to {
    box-shadow: 0 0.175em 0.175em 0 #0001 inset, 0 0.375em 0 #0002 inset,
      0 0.375em 0 var(--off) inset, 0 0.475em 0.1em #0001 inset;
    left: 0.125em;
    width: 1em;
  }
}
@keyframes handleOn {
  from {
    box-shadow: 0 0.175em 0.175em 0 #0001 inset, 0 0.375em 0 #0002 inset,
      0 0.375em 0 var(--off) inset, 0 0.475em 0.1em #0001 inset;
    left: 0.125em;
    width: 1em;
  }
  50% {
    box-shadow: 0 0.175em 0.175em 0 #0001 inset, 0 0.375em 0 #0002 inset,
      0 0.375em 0 var(--mid) inset, 0 0.475em 0.1em #0001 inset;
    left: 0.125em;
    width: 2em;
  }
  to {
    box-shadow: 0 0.175em 0.175em 0 #0001 inset, 0 0.375em 0 #0002 inset,
      0 0.375em 0 var(--on) inset, 0 0.475em 0.1em #0001 inset;
    left: 1.125em;
    width: 1em;
  }
}

/*Cuarta prueba--------------------------------------------------------------*/

.avatar {
  margin-top: 15%;
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  border: 0px black;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  img {
    width: 100%;
    height: auto;
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

/*Quinta prueba--------------------------------------------------------------*/
.cat {
  position: relative;
  height: 170px;
  width: calc(170px * 1.13);
}

/* Ears */
.ear {
  position: absolute;
  top: -30%;
  height: 60%;
  width: 25%;
  background: #fff;
}

.ear::before,
.ear::after {
  content: "";
  position: absolute;
  bottom: 24%;
  height: 10%;
  width: 5%;
  border-radius: 50%;
  background: #161616;
}

.ear::after {
  transform-origin: 50% 100%;
}

.ear--left {
  left: -7%;
  border-radius: 70% 30% 0% 0% / 100% 100% 0% 0%;
  transform: rotate(-15deg);
}

.ear--left::before,
.ear--left::after {
  right: 10%;
}

.ear--left::after {
  transform: rotate(-45deg);
}

.ear--right {
  right: -7%;
  border-radius: 30% 70% 0% 0% / 100% 100% 0% 0%;
  transform: rotate(15deg);
}

.ear--right::before,
.ear--right::after {
  left: 10%;
}

.ear--right::after {
  transform: rotate(45deg);
}

/* Face */
.face {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #161616;
  border-radius: 50%;
}

/* Eyes */
.eye {
  position: absolute;
  top: 35%;
  height: 30%;
  width: 31%;
  background: #fff;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

.eye::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  border-radius: 0 0 50% 50% / 0 0 40% 40%;
  background: #161616;
  animation: blink 4s infinite ease-in;
}

@keyframes blink {
  0% {
    height: 0;
  }
  90% {
    height: 0;
  }
  92.5% {
    height: 100%;
  }
  95% {
    height: 0;
  }
  97.5% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}

.eye::before {
  content: "";
  position: absolute;
  top: 60%;
  height: 10%;
  width: 15%;
  background: #fff;
  border-radius: 50%;
}

.eye--left {
  left: 0;
}

.eye--left::before {
  right: -5%;
}

.eye--right {
  right: 0;
}

.eye--right::before {
  left: -5%;
}

/* Pupils */
.eye-pupil {
  position: absolute;
  top: 25%;
  height: 50%;
  width: 20%;
  background: #161616;
  border-radius: 50%;
  animation: look-around 4s infinite;
}

@keyframes look-around {
  0% {
    transform: translate(0);
  }
  5% {
    transform: translate(50%, -25%);
  }
  10% {
    transform: translate(50%, -25%);
  }
  15% {
    transform: translate(-100%, -25%);
  }
  20% {
    transform: translate(-100%, -25%);
  }
  25% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.eye--left .eye-pupil {
  right: 30%;
}

.eye--right .eye-pupil {
  left: 30%;
}

.eye-pupil::after {
  content: "";
  position: absolute;
  top: 30%;
  right: -5%;
  height: 20%;
  width: 35%;
  border-radius: 50%;
  background: #fff;
}

.muzzle {
  position: absolute;
  top: 60%;
  left: 50%;
  height: 6%;
  width: 10%;
  background: #fff;
  transform: translateX(-50%);
  border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
}

div.gato {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #161616;
  padding-top: 20%;
}
