.command-input-container {
  width: 60%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex: 20px;
  margin-bottom: 20px;
}

.command-input {
  flex: 1;
  min-height: 50px; 
  height: auto; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  background-color: #f9f9f9;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  resize: none;
  overflow: hidden;
  overflow-y: auto; 
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  background-color: #007bff;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  padding: 0;
  transition: background-color 0.3s;
}

.icon-button fa-icon {
  size: 140px;
}

button:hover {
  background-color: #0056b3;
}
